    /* -------------------- IMPORTED FONTS -------------------------------------- */
    @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
    /*-------------------- CSS RESET ---------------------------------------------------*/
    body {
      line-height: 1;
    }
    ol, ul {
      list-style: none;
    }
    blockquote, q {
      quotes: none;
    }
    blockquote:before, blockquote:after,
    q:before, q:after {
      content: '';
      content: none;
    }
    table {
      border-collapse: collapse;
      border-spacing: 0;
    }
    /* -------------------- ROOT VARIABLES --------------------------------------- */
    :root {
    --black:#0D0D0D;
    --white:#F2F2F2;
    --cyan:#7ABFBF;
    --cheyenne:rgba(122,191,191,.5);
    --orange:#EB5428;
    --font1: "Bebas Neue", sans-serif;
    --font2: "Montserrat", sans-serif;

    }
    /* --------------------GLOBAL STYLES (mobile first/small) --------------------*/
    
    html {
        background: rgba(122, 191, 191, .5);

      }
      body {
        background-color: #F2F2F2;
        margin: 0px 50px;
      }
      header{
        height: -800px;
        display: inline;
      }
      h1 {
        font-size:40px;
        text-align:center;
        font-family: "Bebas Neue", sans-serif;
      }
      nav {
        font-family: var(--font2);
        display: inline-block;
      }
      nav li {
        font-size: 20px;
        list-style: none;
        font-family: var(--font2);
        display: inline-block;
      }
      nav a {
        background-color:rgba(255,255,255,.35); 
        text-decoration:none;
        background-color: #F2F2F2;
        text-align:center;
        font-size: 20px;
        font-family: "Bebas Neue", sans-serif;;
  
      }
      nav span {
        font-size: 20px;
        font-family: var(--font1);
      
      }
      .label {
        background-color: #EB5428;
      }
      .details {
        list-style: none;
      }
      .directions {
        
      }
      .dishes {
        background: rgba(122, 191, 191, .5);
      }
      .dishes > p {
        font-weight:bold;
      }
      #svg {
        
      }
      h2 {
        font-size:30px;
        clear:both;
        text-align: center;
      }
      h3 {
        font-size:25px;
        text-align: center;
      }
      footer {
        clear:both;
        background-color:#F2F2F2;
        font-size: 20px;
        font-family: var(--font1);
      }
    /*-------------------- MEDIA QUERY (medium) --------------------------------*/
    @media (min-width: 414px) {
        
    }
    /*-------------------- MEDIA QUERY (large) ------------------------------------*/
    @media (min-width: 768px) {
        .details {
          text-align: center;
        }
    }
    /*-------------------- MEDIA QUERY (xl) ---------------------------------------*/
    @media (min-width: 1280px) {
      .details {
        background: #0D0D0D;
        color:#7ABFBF;
      }
      .ingredients {
        
      }
      .dishes {
        
      }
         
    }
    @media print {
    
    }   