    /* -------------------- IMPORTED FONTS -------------------------------------- */
    
    /*-------------------- CSS RESET ---------------------------------------------------*/

    /* -------------------- ROOT VARIABLES --------------------------------------- */
    :root {
    --black:#0D0D0D;
    --white:#F2F2F2;
    --cyan:#7ABFBF;
    --dkcyan:rgba(122, 191, 191, .5);
    --orange:#EB5428;
    --font:;

    }
    /* --------------------GLOBAL STYLES (mobile first/small) --------------------*/
    html {
        background: rgba(122, 191, 191, .5);

      }
      body {
        background-color: #F2F2F2;
        margin: 0px 50px;
      }
      header {
        
      }
      h1 {
        font-size:40px;
        text-align:center;
      }
      nav {
        padding-bottom:25px;
      }
      nav li {
        font-size: 20px;
        list-style: none;
      }
      nav a {
        background-color:rgba(255,255,255,.35); 
        text-decoration:none;
        background-color: #F2F2F2;
        font-weight:bold;
        text-transform:uppercase;
        text-align:center;
        font-size: 20px;
      }
      nav span {
        font-size: 20px;
      }
      .details {
        background: #0D0D0D;
        color:#7ABFBF;
        
      }
      .ingredients {
        float: left;
        
      }
      .directions {
        display: inline;
      }
      .dishes {
        background: var(--dkcyan);
      }
      h2 {
        font-size:30px;
        clear:both;
        text-align: center;
      }
      h3 {
        font-size:25px;
        text-align: center;
      }
      footer {
        clear:both;
        background-color:#F2F2F2;
        font-size: 20px;
      }
    /*-------------------- MEDIA QUERY (medium) --------------------------------*/
    @media (min-width: 414px) {
        
    }
    /*-------------------- MEDIA QUERY (large) ------------------------------------*/
    @media (min-width: 768px) {
        
    }
    /*-------------------- MEDIA QUERY (xl) ---------------------------------------*/
    @media (min-width: 1280px) {
        
    }
    @media print {
        margin: 0.5inch;
    }   